<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='UTF-8'>
	<title>Single price grid component</title>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='style.css'>
</head>
	<body>
		<main>
			<section class="section header section--cocoa">
				<h1 class= "h1-header --cyan">Join our community</h1>
				<h3 class="p-header --bright-yellow">30-day, hassle-free money back guarantee</h3>
				<p class="subtitle-header subtitle--large --grayish-blue">
					Gain access to our full library of tutorials along with expert code reviews.<br>
					Perfect for any developers who are serious about honing their skills.
				</p>
			</section>
			<section class="section section__2 right section--cyan"> 
				<h2 class="h3-right">Monthly Subscription</h2>
				<sup><span class="price">&dollar;29</span><sup>per month</sup></p>
				<p>Full access for less than &dollar;1 a day</p><br>
				<button class="btn">Sign Up</button>
			</section>
			<section class="section section__3 left" --light-cyan>
				<h2 class="h3-left" >Why Us</h2>
				<li>Tutorials by industry experts </li>
				<li>Peer &amp; expert code review</li>
				<li>Coding exercises</li>
				<li>Access to our GitHub repos</li>
				<li>Community forum</li>
				<li>Flashcard decks</li>
				<li>New videos every week</li>
			</section>
		</main>
	</body>
</html>
